<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConfigFilePath" value="C:\ProgramData\KriSoftware\Dicom Transformer\config\config.bin"/>
    <add key="DicomStorePath" value="C:\ProgramData\KriSoftware\Dicom Transformer\DicomFiles"/>
    <add key="DicomSCPTargetIpAddress" value="192.168.88.195"/>
    <add key="DicomSCPTargetAETitle" value="MuseStoreSCP"/>
    <add key="OwnListenPort" value="108"/>
    <add key="DicomSCPPort" value="104"/>
    <add key="OwnAETitle" value="MUSE"/>
  </appSettings>
</configuration>